<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>ACE | AGM/EGM</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="{% static 'css/color-switcher-design.css'%}" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css'%}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
 	
    
    <!-- Main Header-->
    <header class="main-header">
    
    	
        
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'index'%}"><img src="images/ace-logo2.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                    
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index'%}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                    	<ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike'%}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat'%}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone'%}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity'%}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain'%}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement'%}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'assessment'%}">Assessment</a></li>
                                            <li><a href="{% url 'globaleducation'%}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> --> -->
                                        </ul>
                                    </li>
                                    
                                    <li class="dropdown"><a href="#">Company</a>
                                    	<ul>
                                            <li><a href="{% url 'company-history'%}">Overview</a></li>
                                                <!-- <li><a href="groupcompany.html">Group Companies</a></li> --> 
                                                <li><a href="{% url 'client'%}">Clientale</a></li>
                                                <li><a href="{% url 'socialinitiatives'%}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                    	<ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation'%}">Disclosures under Regulation 46 of the LODR</a></li>
                                            <li class="dropdown"><a href="#">Financials & Fillings</a> 
                                                <ul>
                                                    <li><a href="{% url 'financial-result'%}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement'%}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report'%}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication'%}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector'%}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation'%}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting'%}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern'%}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance'%}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange'%}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm'%}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot'%}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return'%}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies'%}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell'%}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo'%}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact'%}">Contact us</a></li>
                                 </ul>
                            </div>
                        </nav>
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>    
            </div>
        </div>
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container">
                <div class="sticky-inner-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="{% url 'index'%}" class="img-responsive">
                            <img src="{% static 'images/ace-logo2.png'%}" height="880px" width="150px" alt="" title=""></a>
                    </div>
                    
                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index'%}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                    	<ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike'%}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat'%}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone'%}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity'%}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain'%}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement'%}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                                <li><a href="{% url 'assessment'%}">Assessment</a></li>
                                                <li><a href="{% url 'globaleducation'%}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> --> -->
                                        </ul>
                                    </li>
                                    
                                    <li class="dropdown"><a href="#">Company</a>
                                        <ul>
                                            <li><a href="{% url 'company-history'%}">Overview</a></li>
                                            <!-- <li><a href="groupcompany.html">Group Companies</a></li> -->
                                            <li><a href="{% url 'client'%}">Clientale</a></li>
                                            <li><a href="{% url 'socialinitiatives'%}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                        <ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                            <!-- <li class="dropdown"><a href="#">Financials & Fillings</a> -->
                                                <ul>
                                                    <li><a href="{% url 'financial-result' %}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement' %}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report' %}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication' %}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector' %}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting' %}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern' %}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance' %}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange' %}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm' %}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot' %}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return' %}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies' %}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell' %}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo' %}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact'%}">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url('{% static 'images/background/subpage.jpg' %}')">
        <div class="auto-container">
            <h1>AGM/EGM</h1>
        </div>
        
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <div class="page-info">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb pull-left">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><b>Investors</b></li> 
                    <li><b>Compliances</b></li>
                    <li><b>AGM/EGM</b></li>
                </ul>
                
            </div>
        </div>
    </div><br>
    <!--End Page Info-->
    
    <!--Project Financial Results-->
    <section class="section-bg">
        <div class="container"><br>
          <div class="sec-title">
            <h2>AGM/EGM</h2>
        </div>
          
          <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="home-text">
                <p>
                  <div>
              <style>
                  .accordion {
                      background-color: #eee;
                      color: #444;
                      cursor: pointer;
                      padding: 18px;
                      width: 100%;
                      border: none;
                      text-align: left;
                      outline: none;
                      font-size: 15px;
                      transition: 0.4s;
                  }
      
                      .active, .accordion:hover {
                          background-color: #ccc;
                      }
      
                      .accordion:after {
                          content: '\002B';
                          color: #777;
                          font-weight: bold;
                          float: right;
                          margin-left: 5px;
                      }
      
                  .active:after {
                      content: "\2212";
                  }
      
                  .panel {
                      padding: 0 18px;
                      background-color: white;
                      max-height: 0;
                      overflow: hidden;
                      transition: max-height 0.2s ease-out;
                      margin-bottom: 5px;
                  }
                  
    .button-container {
      text-align: center;
    }

    .custom-button {
      display: inline-block;
      position: relative;
      padding: 20px 20px;
      font-size: 17px;
      text-align: left;
      cursor: pointer;
      border: none;
      background-color: lightgrey;
      color: #fff;
      text-decoration: none;
      overflow: hidden;
      width: 99%;
      margin-bottom: 10px;
      height: 50px;
    }

    .button-text {
      display: inline-block;
      margin-right: 20px;
      color: black;
      
    }

    .button-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      font-weight: bold;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      background-color: #fff;
      color: brown;
      border-radius: 5px;
    }

    .custom-button:hover {
      background-color: #7285A5;
    }
</style>

                <div class="button-container">
                    <a href="https://www.africau.edu/images/default/sample.pdf" target="_blank" class="custom-button">
                      <span class="button-text">AGM</span>
                      <span class="button-icon">&#x2B07;</span>
                    </a>
                  
                    <a href="https://www.africau.edu/images/default/sample.pdf" target="_blank" class="custom-button">
                      <span class="button-text">EGM</span>
                      <span class="button-icon">&#x2B07;</span>
                    </a>
                  </div>
                  </div>
                  </div>
              </div><br>
              <script>
                  var acc = document.getElementsByClassName("accordion");
                  var i;
      
                  for (i = 0; i < acc.length; i++) {
                      acc[i].addEventListener("click", function () {
                          this.classList.toggle("active");
                          var panel = this.nextElementSibling;
                          if (panel.style.maxHeight) {
                              panel.style.maxHeight = null;
                          } else {
                              panel.style.maxHeight = panel.scrollHeight + "px";
                          }
                      });
                  }
              </script>
          </div></p>
        </div>
        </div>
        </div>
        </div>
      </section>
      
      
    
    <!--End Project Financial Results-->
    
    <!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                    	<a href="{% url 'index' %}"><img src="{% static 'images/ace-logo2.png' %}" height="850px" width="200px" alt="" /></a>
                                    </div>
                                    <div class="text">Collaboratively administrate em powered markets via plug and play networks. Dynamically procrastinate B2C users after installed.</div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Quick Links</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Request Call Back</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Services</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="#">Mechanical Engineering</a></li>
                                            <li><a href="#">Agricultural Processing</a></li>
                                            <li><a href="#">Petrolium & Gas</a></li>
                                            <li><a href="#">Material Engineering</a></li>
                                            <li><a href="#">Power & Engergy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                	<h2>Get In Touch</h2>
                                    <div class="widget-content">
                                    	<div class="number">+91 - 9650 339 995</div>
                                        <div class="text">B-13, DSIDC Complex,
                                            Patparganj Industrial Area, Delhi - 110 092</div>
                                        <ul class="social-icon-one">
                                        	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="copyright">&copy; Copyright  <a href="#">Ace Integrated Solutions Ltd..</a> 2023. All right reserved.</div>
                    </div>
                    <div class="pull-right">
                        <div class="created">Created by Kristellar Aerospace Pvt. Ltd.</div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate aqua-color" data-theme-file="css/color-themes/aqua-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>

<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!--Color Switcher-->
<script src="{% static 'js/color-settings.js' %}"></script>
</body>
</html>