{% load static %}

<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>ACE | Electric Boats</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'css/style.css'%}" rel="stylesheet">
<link href="{% static 'css/responsive.css'%}" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="{% static 'css/color-switcher-design.css'%}" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css'%}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
 	
    
    <!-- Main Header-->
    <header class="main-header">
    
    	
        
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/ace-logo2.png' %}" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                    
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                    	<ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike' %}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat' %}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone' %}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity' %}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain' %}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement' %}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'assessment' %}">Assessment</a></li>
                                            <li><a href="{% url 'globaleducation' %}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> -->
                                        </ul>
                                    </li>
                                    
                                    <li class="dropdown"><a href="#">Company</a>
                                    	<ul>
                                            <li><a href="{% url 'company-history' %}">Overview</a></li>
                                            <!-- <li><a href="groupcompany.html">Group Companies</a></li> -->
                                            <li><a href="{% url 'client' %}">Clientale</a></li>
                                            <li><a href="{% url 'socialinitiatives' %}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                    	<ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                             <li class="dropdown"><a href="#">Financials & Fillings</a> 
                                                <ul>
                                                    <li><a href="{% url 'financial-result' %}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement' %}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report' %}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication' %}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector' %}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting' %}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern' %}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance' %}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange' %}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm' %}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot' %}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return' %}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies' %}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell' %}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo' %}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                                 </ul>
                            </div>
                        </nav>
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>    
            </div>
        </div>
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container">
                <div class="sticky-inner-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="{% url 'index' %}" class="img-responsive"><img src="{% static 'images/ace-logo2.png' %}" height="880px" width="150px" alt="" title=""></a>
                    </div>
                    
                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                    	<ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike' %}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat' %}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone' %}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity' %}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain' %}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement' %}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'assessment' %}">Assessment</a></li>
                                            <li><a href="{% url 'globaleducation' %}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> -->
                                        </ul>
                                    </li>
                                    
                                    <li class="dropdown"><a href="#">Company</a>
                                    	<ul>
                                            <li><a href="{% url 'company-history' %}">Overview</a></li>
                                            <!-- <li><a href="groupcompany.html">Group Companies</a></li> -->
                                            <li><a href="{% url 'client' %}">Clientale</a></li>
                                            <li><a href="{% url 'socialinitiatives' %}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                    	<ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                            <!-- <li class="dropdown"><a href="#">Financials & Fillings</a> -->
                                                <ul>
                                                    <li><a href="{% url 'financial-result' %}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement' %}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report' %}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication' %}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector' %}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting' %}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern' %}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance' %}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange' %}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm' %}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot' %}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return' %}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies' %}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell' %}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo' %}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url('{% static 'images/background/subpage.jpg' %}')";>
        <div class="auto-container">
            <h1>Electric Boats</h1>
        </div>
        
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <div class="page-info">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb pull-left">
                    <li><a href="{% url 'index' %}" style="font-size: 20px;"><b>Home</b></a></li>

                    <li style="font-size: 17px;"><b>E-Mobiliy</b></li>
                    <li style="font-size: 17px;"><b>Electric Boats</b></li>
                </ul>
            </div>
        </div>
    </div><br>
    <!--End Page Info-->
    <div class="description-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="about-section-three">
                    <div class="sec-title">
                        <h2>Electric Boats: Navigating a Sustainable Future</h2>
                    </div>
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-8 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="text">
                                   
                                    
                                    <p>Welcome to the future of boating – where eco-friendliness meets tranquility. ACE is forgoing tech-alliance with global industry partners for entry in Asian e-boat markets. Electric boats have emerged as a green alternative, revolutionizing our exploration of waterways. Here's a comprehensive glimpse into the world of electric boats and why they are the preferred choice for environmentally conscious boaters.</p>

                                    <p><h3><b>Key Features:</b></h3></p>
                                    <h4><b>Zero Emissions:</b></h4>
                                    Electric boats operate without the smoke and fumes associated with traditional engines, ensuring a clean and green boating experience.
                                    <h4><b>Quiet Operation:</b></h4>

                                        Enjoy the serenity of the water without the noise of a roaring engine. Electric motors operate quietly, minimizing noise pollution.
                                        
                                        <h4><b>Instant Torque and Responsive Handling:</b></h4>
                                        
                                        Experience the thrill of immediate torque, providing rapid acceleration and responsive handling for a dynamic on-water adventure.
                                        
                                        <br><h4><b>Low Maintenance:</b></h4>
                                        
                                        <p>With fewer moving parts, electric propulsion systems require less maintenance, saving both time and money. ACE shall provide in-house product maintenance & warranty support for its customers.</p>
                                        
                                       <p> <h3><b>Power Sources:</b></h3></p>
                                        
                                        <h4><b>On-board Batteries:</b></h4>
                                        
                                        Many electric boats utilize advanced rechargeable batteries, offering enhanced performance and range for extended journeys.
                                        
                                        <h4><b>Solar Power:</b></h4>
                                        
                                        Embrace sustainability with solar panels that harness energy from the sun, providing a renewable and eco-friendly power source.
                                        
                                       <h4><b> Generators:</b></h4>
                                        
                                        <p>Some electric boats incorporate generators to extend range or recharge batteries while underway.</p>
                                        
                                        <p> <h3><b>Practical considerations:</b></h3></p>
                                        
                                        <h4><b>Range and Charging:</b></h4>
                                        
                                        The range of electric boats varies based on factors like battery capacity and speed. Charging infrastructure, available at marinas and waterfront facilities, is crucial for practical use.
                                        
                                        <h4><b>Smooth Boating Experience:</b></h4>
                                        
                                        The quiet operation of electric boats enhances the overall boating experience, allowing passengers to connect with nature without engine noise.
                                        
                                        <h4><b>User-Friendly Controls:</b></h4>
                                        
                                        <p>Electric propulsion systems feature intuitive controls, making them accessible to both seasoned boaters and beginners.</p>
                                        
                                        <p><h3><b>Finance and Incentives:</b></h3></p>
                                        
                                        <h4><b>Incentives and Subsidies:</b></h4>
                                        
                                        <p>ACE would extend government subsidies as the case may be. Explore regions where incentives or subsidies are offered to promote the adoption of electric boats, supporting a sustainable and responsible boating community.</p>
                                        
                                        Embrace a cleaner and quieter boating experience with electric boats. Whether you're a seasoned mariner or a first-time boater, these vessels pave the way for a more sustainable and enjoyable journey on the water. Join the movement towards a greener future, one electric boat ride at a time. Discover the beauty of eco-friendly boating and the exciting advancements propelling us into a new era of marine exploration.
                                    
                                </div>
                            </div>
                        </div>
                        <div class="image-column col-md-4 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="{% static 'images/img/boat.jpg' %}" alt="" />
                            </div>
                        </div>
                        <!--Content Column End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                    	<a href="{% url 'index' %}"><img src="{% static 'images/ace-logo2.png' %}" height="850px" width="200px" alt="" /></a>
                                    </div>
                                    <div class="text">Collaboratively administrate em powered markets via plug and play networks. Dynamically procrastinate B2C users after installed.</div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Quick Links</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Request Call Back</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Services</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="#">Mechanical Engineering</a></li>
                                            <li><a href="#">Agricultural Processing</a></li>
                                            <li><a href="#">Petrolium & Gas</a></li>
                                            <li><a href="#">Material Engineering</a></li>
                                            <li><a href="#">Power & Engergy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                	<h2>Get In Touch</h2>
                                    <div class="widget-content">
                                    	<div class="number">+91 - 9650 339 995</div>
                                        <div class="text">B-13, DSIDC Complex,
                                            Patparganj Industrial Area, Delhi - 110 092</div>
                                        <ul class="social-icon-one">
                                        	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="copyright">&copy; Copyright  <a href="#">Ace Integrated Solutions Ltd..</a> 2023. All right reserved.</div>
                    </div>
                    <div class="pull-right">
                        <div class="created">Created by Kristellar Aerospace Pvt. Ltd.</div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate aqua-color" data-theme-file="css/color-themes/aqua-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>

<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!--Color Switcher-->
<script src="{% static 'js/color-settings.js' %}"></script>
</body>
</html>